//定义字体颜色

.fontaaa{
    color:#aaa;//灰色
}
.font099fde{
    color:#099fde;//淡蓝色
}
.fontlawngreen{
    color:lawngreen;//绿色
}
.fontblue{
    color:blue;//蓝色
}
.fontred{
    color:red;//红色
}
.fontfaa000{
    color:#faa000;//澄黄色
}